body {
    background-image: url("fundal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: orange; /* Poți schimba culoarea dacă vrei */
}
body {
    background-color: lightblue;
}
h1 {
    color: red;
}
marquee {
    background-color: orange;
}
